/******************************************
/* CSS
/*******************************************/




/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
*{
  font-family: 'Sanchez', serif;
}

body{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 62.5%;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 3rem;
}

h2{
  font-family: 'Sanchez';
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  color: lightgrey;
  font-size: 1rem;
  text-align: right;
}


img{
  align-self: center;
  max-width: 90%;
  max-height: 600px;
}

section{
  margin: 20px auto;
  width: 500px;
  padding: 25px;
  background-color: aliceblue;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
}

footer {
  position: relative;
  margin: 100px 0 0 0;
  padding: 0 20px 0 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: white;
  text-align: center;
}

a{
  text-decoration: none;
  color: lightgray;
}

a:hover{
  background-color: aquamarine;
}

ul{
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

li{
  margin: 5px;
}

button{
  background-color: aliceblue;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}


/******************************************
/* DARK MODE
/*******************************************/


.darkmode{
  background-color: #211e17;
  color: white;
}

.darkmode > footer{
  background-color: black;
}

.darkmode > section{
  background-color: darkslategrey;
}

.darkmode button{
  background-color: darkslategray;
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 750px){
  button{
    font-size: 1.25rem;
  }
  h3{
    font-size: 1.25rem;
  }
  
  h4{
    size: 1rem;
  }

}

@media screen and (max-width: 660px){
  h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 1rem;
  }

  h3{
    font-size: .75rem;
  }

  section{
    width: 100%;
    border-radius: 0px;
    border: none;
  }
  
  li{
    width: 100%;
  
  }

  button{
    width: 100%;
  }

  ul{
    flex-direction: column;
    width: 75%;
  }
}