/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
*{
  font-family: 'Sanchez', serif;
}

body{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 62.5%;
}

h1{
  text-align: center;
  font-size: 3rem;
}

h2{
  font-family: 'Sanchez';
}

h4{
  color: lightgrey;
  size: 10px;
  text-align: right;
}


img{
  display: block;
  margin: 0 auto;
  max-height: 600px;
}

section{
  margin: 20px auto;
  width: 500px;
  padding: 25px;
  background-color: aliceblue;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
}

footer {
  position: relative;
  margin: 100px 0 0 0;
  padding: 0 20px 0 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: white;
  text-align: center;
}

a{
  text-decoration: none;
  color: lightgray;
}

a:hover{
  background-color: aquamarine;
}

button{
  background-color: aliceblue;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
}


/******************************************
/* DARK MODE
/*******************************************/


.darkmode{
  background-color: #211e17;
  color: white;
}

.darkmode > footer{
  background-color: black;
}

.darkmode > section{
  background-color: darkslategrey;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
